<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Effects of Terror </title>

  <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
  <link rel="stylesheet" href="{% static "css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "css/foundation.css" %}">

  <script src="{% static "js/vendor/modernizr.js"%}"></script>

</head>
<body>
    <nav class="top-bar" data-topbar>

        <ul class="title-area">
            <li class="name">
                <h1>
                    <font size="6">
                        <a href"#">&nbsp;Effects of Terror</a>
                    </font>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
    </nav>

    <br>
    <div class="row">
        <div class="small-12 columns">
                    <form action="/search" method="get">
                        <label>
                            <input type="text" placeholder="Search" name="query"/>
                        </label>
                    </form>
        </div>
    </div>

  {% block content %}
  {% endblock %}

  <footer class="row">
      <div class="large-12 columns"><hr>
          <div class="row">

              <div class="large-6 columns">
                  <p>&copy; Copyright to Ben, Isaac &amp; Thomas.</p>
              </div>

              <div class="large-6 small-12 columns">
                  <ul class="inline-list right">
                      <li><a href="http://www.grumpycats.com/">Grumpy...</a></li>
                  </ul>
              </div>

          </div>
      </div>
  </footer>

  <script src="{% static "js/vendor/jquery.js" %}"></script>
  <script src="{% static "js/foundation.min.js" %}"></script>
  <script>$(document).foundation();</script>


  {% block js %}
  {% endblock %}

</body>
</html>
