{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<div class="row">
    <div class="large-12 columns">

        <form>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        <input type="text" placeholder="Search" />
                    </label>
                </div>
            </div>
        </form>

<!-- TABS -->

        <div class="row">
            <div class="large-12 columns">
                <div class="row">

                    <ul class="tabs" data-tab>
                        <li class="tab-title active"><a href="#panel1">Economy</a></li>
                        <li class="tab-title"><a href="#panel2">Population</a></li>
                        <li class="tab-title"><a href="#panel3">Tab 3</a></li>
                        <li class="tab-title"><a href="#panel4">Tab 4</a></li>
                    </ul>

                    <div class="tabs-content">

                        <div class="content active" id="panel1">
                            <dl class="sub-nav">
                                <dt>Choices:</dt>
                                <dd class="active"><a href="#">Rich</a></dd>
                                <dd><a href="#">Poor</a></dd>
                            </dl>
                        </div>

                        <div class="content" id="panel2">
                            <dl class="sub-nav">
                                <dt>Choices:</dt>
                                <dd class="active"><a href="#">Women</a></dd>
                                <dd><a href="#">Men</a></dd>
                            </dl>
                        </div>

                        <div class="content" id="panel3">
                            <dl class="sub-nav">
                                <dt>Choices:</dt>
                                <dd class="active"><a href="#">Sub 1</a></dd>
                                <dd><a href="#">Sub 2</a></dd>
                            </dl>
                        </div>

                        <div class="content" id="panel4">
                            <dl class="sub-nav">
                                <dt>Choices:</dt>
                                <dd class="active"><a href="#">Sub 1</a></dd>
                                <dd><a href="#">Sub 2</a></dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
