{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<div class="row">
    <div class="large-12 columns">

<!-- TABS -->

        <div class="row">
            <div class="large-12 columns">
                <div class="row">

                    <!-- MAIN TABS -->
                    <ul class="tabs" data-tab>
                        <li class="tab-title active"><a href="#panel1">Stock Indexes</a></li>
                        <li class="tab-title"><a href="#panel2">State Bonds</a></li>
                        <li class="tab-title"><a href="#panel3">Financial Risk</a></li>
                        <li class="tab-title"><a href="#panel4">Population</a></li>
                        <li class="tab-title"><a href="#panel5">Migration</a></li>
                    </ul>

                    <!-- GRAPHS -->
                    <div class="tabs-content">

                        <div class="content active" id="panel1">
                            <svg id="stock">
                        </div>

                        <div class="content" id="panel2">
                            <svg id="bonds">
                        </div>

                        <div class="content" id="panel3">
                            <svg id="risk">
                        </div>


                        <div class="content" id="panel4">
                            <svg id="pop">
                        </div>

                        <div class="content" id="panel5">
                            <svg id="migration">
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block JS %}
<script>var data = {{ result }};</script>
{% endblock %}
