{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<div class="row">
    <div class="large-12 hide-for-small">
        <div>
            <div id="world-map" style="width: 1000px; height: 600px;"></div>

        </div>
    </div>
</div>


<div class="row">
    <div class="large-12 columns show-for-small">
        <img src="http://placehold.it/1200x700&text=Mobile Header">
    </div>
</div>

<br>

<div class="row">
    <div class="large-12 columns">
        <div class="row">


            <!-- DETAILS ##################### -->

            <div class="large-8 small-12 columns">

                <h4>Details</h4><hr>
                <div class="panel">
                    <h5>Developers</h5>
                    <h6 class="subheader">
                        Created by Ben Jackson, Isaac Jordan &amp; Thomas Fletcher at the St Andrews Hackathon 2015
                    </h6>
                </div>

                <div class="panel">
                    <h5>
                        <a href="https://github.com/ExogenesisBen/EffectsOfTerror">Github Repository</a>
                    </h5>
                </div>

            </div>


       </div>
    </div>
</div>

{% endblock %}

{% block js %}
<link rel="stylesheet" href="{% static "js/jvectormap/jquery-jvectormap-2.0.1.css" %}">
<script src="{% static "js/jvectormap/jquery-jvectormap-2.0.1.min.js" %}"></script>
<script src="{% static "js/jvectormap/jquery-jvectormap-world-mill-en.js" %}"></script>
<script src="{% static "js/worldMapJS.js" %}"></script>

<script>
  $('#world-map').vectorMap({
      map: 'world_mill_en',
      onRegionClick: handleMapClick
      });
</script>
{% endblock %}
