{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
<script src="{% static "js/vendor/jquery.js" %}"></script>
<script>
  function getData(curr) {
    var result = {{ results | safe }};
    var parent1 = $(curr).parent();
    var parent = parent1.parent();
    var year = parent.children().eq(0).html();
    var month = parent.children().eq(1).html();
    var day = parent.children().eq(2).html();
    var country = parent.children().eq(3).html();
    var urlString = "/graph/country="+country+"?year="+year+"?month="+month+"?day="+day;
    //windows.location(urlString);
    window.open(urlString);
  }
</script>

<div class="row">
    <div class="12-small columns">
        <div class="panel">
        <table>
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Day</th>
                    <th>Country</th>
                    <th>Region</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Location</th>
                    <th>More Info</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    {% for element in result.0 %}
                    <td>{{ element }}</td>
                    {% endfor %}
                    <td><a href="#" data-reveal-id="modalMain">More Info</a></td>

                    <td><a class="button" onclick="getData(this);">Select</a></td>
                </tr>

                {% empty %}
                    No results!
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
</div>

<!-- Extra Info -->
<div id="modalMain" class="reveal-modal" data-reveal>
    <table>
        <thead>
            <tr>
                <th>Summary</th>
                <th>Attack Type</th>
                <th>Target Type</th>
                <th>Target Types...</th>
                <th>Weapon Used</th>
                <th>Number Killed</th>
                <th>Number Wounded</th>
                <th>Value of Property Destroyed</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
            <tr>
                {% for element in result.1 %}
                <td>{{ element }}</td>
                {% endfor %}
                {% empty %}
                    No results!
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <a class="close-reveal-modal">&#215;</a>
</div>

<!-- getData JS function -->


{% endblock %}
